# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup files
*.bak
*.tmp

# Scripts secrets
scripts/secrets.bat
scripts/secrets.py

# Sensitive data
settings-backup/
cloudflare/backup_push.bat
cloudflare/backup_pull.bat
cloudflare/SITE_DATA_BACKUP_*
cloudflare-backup.json

# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
.pytest_cache/
*.egg-info/
